; Schulich Delta Hermes Specification File

forwardPeriod=500

[JsonFormat]
packetTitle=Gen5

[SerialPort]
portName=/dev/pts/7
baudrate=115200

[UdpAddress]
ipAddress=127.0.0.1
port=5672

[rabbitMQ]
exchangeName=hermesExchange
